.articles{
    border-radius: 10px;
    border-style: solid;
    border-color: #548235;
    margin-top: 10px;
    font-size: 1em;
}
.articles h2{
    font-size: 1.5em;
    margin-left: 5px;
}
.articles p{
    font-size: 1em;
    margin-left: 5px;
}
.articles:hover{
    border-color: #A9D18E;
}
img{
    width: 15vw;
    margin: 10px;
}
.articles a{
    margin-top: 0;
}
div{
    margin:80px;
}
.specificarticle{
    border-radius: 10px;
    border-style: solid;
    border-color: #548235;
    margin-top: 100px;
    padding: 10px;
}
.notifications{
    border-radius: 10px;
    border-style: solid;
    border-color: #548235;
    margin-top: 10px;
}
.notifications:hover{
    border-color: #A9D18E;
}