*{
    font-family: "Arial" ;
}

#banner{
    position: fixed;
    top: 0;
    width: 100%;
}
#logo{
    margin: 10px;
    background-color: white;
    height: 10%;
    width: 10%;
    left: 0;
}
nav {
    left: 0;
    display: inline-block;
}
nav > ul, nav > ul > li > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

}
nav li {
    margin: 0.2em;
    padding: 0;
    font-size: 1.5em;
    flex: 1 1 0%;
    width: 200px;
}
nav .submenu {
    visibility: hidden;
    height: 0;
    z-index: 1000;
}
nav .submenu li {
    display: block;
    width: 170px;
    margin-left: 30px;
}
nav li:hover  .submenu,
nav li:active  .submenu,
nav li:focus  .submenu {
    visibility: visible;
    height: auto;
}
@media (min-width: 45em) {
    nav > ul {
        flex-direction: row;
    }
    nav li {
        flex: 1;
        font-size: 1em;
    }
}
nav a {
    display: block;
    padding: 0.4em;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    color: white;
    background-color: #548235;
}
nav li[aria-current] a {
    background-color: firebrick;
    color: gold;
}


nav a:focus,
nav a:hover,
nav li[aria-current] a:focus,
nav li[aria-current] a:hover {
    color: black;
    background-color: #A9D18E;
    text-decoration: none;
}
/*
input{
    display: inline-block;
    width: 350px;
    border-radius: 10px;
    padding: 4px;
    float: left;
}

button{
    border-radius: 10px;
    padding: 4px;
    float: right;
    width: 20px;
    height: 20px;
}

 */
form{
    float: right;
}

/*
#games:hover{
    background-image: url('img/logo/categories/games.jpg');
    background-size: 170px;
    background-color: transparent;
}
#cd:hover{
    background-image: url('img/logo/categories/cd.jpg');
    background-size: 170px;
    background-color: transparent;
}
#movies:hover{
    background-image: url('img/logo/categories/movies.jpg');
    background-size: 170px;
    background-color: transparent;
}
#other:hover{
    background-image: url('img/logo/categories/other.jpg');
    background-size: 170px;
    background-color: transparent;
}
#tools:hover{
    background-image: url('img/logo/categories/tools.jpg');
    background-size: 170px;
    background-color: transparent;
}
#books:hover{
    background-image: url('img/logo/categories/books.jpg');
    background-size: 170px;
    background-color: transparent;
}